@use 'styles/mixins';

%text-base {
  overflow-y: auto;
  height: calc(100% - 29px);
  padding: 16px;
  border: 1px solid var(--border-color);
  border-bottom: none;
  font-size: 16px;
  color: var(--text-primary-color);
  background-color: var(--background-editor-color);
}

.wrapper {
  @include mixins.flex-row;

  width: calc(100dvw - 20px * 2);
  height: 100%;
}

.space {
  flex: 0 1 50%;

  .title {
    margin-block: 4px;
    padding-inline: 4px;
    text-align: right;
  }

  textarea {
    @extend %text-base;

    width: 100%;
  }
}

.preview {
  @extend %text-base;

  border-left: none;
}
