@use 'styles/mixins';

%text-base {
  overflow-y: auto;
  height: calc(100% - 29px);
  padding: 16px;
  border: 1px solid var(--border-color);
  border-bottom: none;
  font-size: 16px;
  color: var(--text-primary-color);
  background-color: var(--background-editor-color);
}

.wrapper {
  @include mixins.flex-row;

  width: 100dvw;
  height: 100%;
}

.space {
  flex: 0 1 50%;

  .title {
    margin-block: 4px;
    padding-inline: 4px;
    text-align: right;
    text-transform: uppercase;
  }

  textarea {
    @extend %text-base;

    width: 100%;
  }
}

.preview {
  @extend %text-base;

  border-left: none;
  font-size: 14px;
  font-weight: 300;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  img {
    margin: 16px 0 8px;
    font-size: 700px;
    font-weight: 600;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  p,
  hr {
    margin-block: 4px;
  }

  strong {
    font-weight: 800;
  }

  ol,
  ul {
    padding-left: 24px;
  }

  dd {
    padding-left: 8px;
  }

  blockquote {
    quotes: '\201C' '\201D' '\2018' '\2019';
    margin: 16px 0;
    padding: 8px 12px 4px;
    border-left: 8px solid var(--border-color);
    background: var(--background-sidebar-color);
  }

  img {
    max-width: 100%;
    height: auto;
  }

  code {
    display: inline-block;
    padding: 1px 4px;
    border-radius: 4px;
    background: var(--background-sections-color);
  }

  pre code {
    display: block;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
  }

  a {
    color: var(--text-accent-color);
    text-decoration: underline;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-block: 8px;
    border: 1px solid var(--border-color);
  }

  thead,
  tbody,
  tr,
  th,
  td {
    border: 1px solid var(--border-color);
  }

  th,
  td {
    padding: 8px;
    text-align: left;
  }
}
