@use 'styles/mixins';

.button {
  @include mixins.flex-row;

  gap: 4px;
  align-items: center;
  width: fit-content;
  padding: 4px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
}

.button[data-type='text'] {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-accent-color);
  background-color: transparent;
}

.button[data-type='list-item'] {
  font-weight: 400;
  color: var(--text-primary-color);
  background-color: transparent;
}

.button[data-type='action'] {
  font-weight: 500;
  color: var(--text-accent-color);
  background-color: var(--background-accent-color);
}

.button[data-type='danger'] {
  font-weight: 600;
  color: var(--text-danger-color);
  background-color: transparent;
}

.button[data-type='danger-action'] {
  font-weight: 500;
  color: var(--text-danger-color);
  background-color: var(--background-danger-color);
}
