@use './variables';

:root {
  --header-height: 50px;
  --footer-height: 40px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition:
    background-color 0.1s ease,
    color 0.1s ease,
    border-color 0.1s ease;
}

p,
a,
span,
button {
  line-height: 120%;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}

input,
textarea {
  font-family: inherit;
  font-weight: inherit;
  letter-spacing: 2%;
  outline-color: var(--text-secondary-color);
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

p {
  font-size: 14px;
  font-weight: 400;
}

dialog {
  padding: 4px 8px;
  border-color: var(--border-dialog-color);
  border-radius: 4px;
  color: var(--text-primary-color);
  background-color: var(--background-dialog-color);
}

button {
  cursor: pointer;
  min-height: 25px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-primary-color);
  background-color: var(--background-sections-color);
  transition: all 0.3s ease;

  &:hover {
    font-size: 102%;
  }
}
