@use './variables';

:root {
  --header-height: 70px;
  --footer-height: 55px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition:
    background-color 0.1s ease,
    color 0.1s ease,
    border-color 0.1s ease;
}

p,
a,
span,
button {
  line-height: 120%;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}

input,
textarea {
  font-family: inherit;
  font-weight: inherit;
  letter-spacing: 2%;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

p {
  font-size: 14px;
  font-weight: 400;
}
