@use 'styles/mixins';

.sidebar {
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 400px;
  height: calc(100dvh - var(--header-height));
  background-color: var(--background-sidebar-color);
}

.content {
  @include mixins.flex-column;

  gap: 40px;
  justify-content: space-between;
  height: 100%;
  max-height: 100%;
  padding: 35px 30px;
}

.files {
  scrollbar-color: var(--text-primary-color) var(--text-secondary-color);
  scrollbar-width: thin;
  overflow-y: auto;
}
