/* Roboto Condensed Thin */
@font-face {
  font-family: 'Roboto Condensed';
  src:
    url('/fonts/woff2/RobotoCondensed-Thin.woff2') format('woff2'),
    url('/fonts/ttf/RobotoCondensed-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/* Roboto Condensed Thin Italic */
@font-face {
  font-family: 'Roboto Condensed';
  src:
    url('/fonts/woff2/RobotoCondensed-ThinItalic.woff2') format('woff2'),
    url('/fonts/ttf/RobotoCondensed-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

/* Roboto Condensed ExtraLight */
@font-face {
  font-family: 'Roboto Condensed';
  src:
    url('/fonts/woff2/RobotoCondensed-ExtraLight.woff2') format('woff2'),
    url('/fonts/ttf/RobotoCondensed-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/* Roboto Condensed ExtraLight Italic */
@font-face {
  font-family: 'Roboto Condensed';
  src:
    url('/fonts/woff2/RobotoCondensed-ExtraLightItalic.woff2') format('woff2'),
    url('/fonts/ttf/RobotoCondensed-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

/* Roboto Condensed Light */
@font-face {
  font-family: 'Roboto Condensed';
  src:
    url('/fonts/woff2/RobotoCondensed-Light.woff2') format('woff2'),
    url('/fonts/ttf/RobotoCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Roboto Condensed Light Italic */
@font-face {
  font-family: 'Roboto Condensed';
  src:
    url('/fonts/woff2/RobotoCondensed-LightItalic.woff2') format('woff2'),
    url('/fonts/ttf/RobotoCondensed-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* Roboto Condensed Regular */
@font-face {
  font-family: 'Roboto Condensed';
  src:
    url('/fonts/woff2/RobotoCondensed-Regular.woff2') format('woff2'),
    url('/fonts/ttf/RobotoCondensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Roboto Condensed Italic */
@font-face {
  font-family: 'Roboto Condensed';
  src:
    url('/fonts/woff2/RobotoCondensed-Italic.woff2') format('woff2'),
    url('/fonts/ttf/RobotoCondensed-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Roboto Condensed Medium */
@font-face {
  font-family: 'Roboto Condensed';
  src:
    url('/fonts/woff2/RobotoCondensed-Medium.woff2') format('woff2'),
    url('/fonts/ttf/RobotoCondensed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Roboto Condensed Medium Italic */
@font-face {
  font-family: 'Roboto Condensed';
  src:
    url('/fonts/woff2/RobotoCondensed-MediumItalic.woff2') format('woff2'),
    url('/fonts/ttf/RobotoCondensed-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

/* Roboto Condensed SemiBold */
@font-face {
  font-family: 'Roboto Condensed';
  src:
    url('/fonts/woff2/RobotoCondensed-SemiBold.woff2') format('woff2'),
    url('/fonts/ttf/RobotoCondensed-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Roboto Condensed SemiBold Italic */
@font-face {
  font-family: 'Roboto Condensed';
  src:
    url('/fonts/woff2/RobotoCondensed-SemiBoldItalic.woff2') format('woff2'),
    url('/fonts/ttf/RobotoCondensed-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* Roboto Condensed Bold */
@font-face {
  font-family: 'Roboto Condensed';
  src:
    url('/fonts/woff2/RobotoCondensed-Bold.woff2') format('woff2'),
    url('/fonts/ttf/RobotoCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Roboto Condensed Bold Italic */
@font-face {
  font-family: 'Roboto Condensed';
  src:
    url('/fonts/woff2/RobotoCondensed-BoldItalic.woff2') format('woff2'),
    url('/fonts/ttf/RobotoCondensed-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Roboto Condensed ExtraBold */
@font-face {
  font-family: 'Roboto Condensed';
  src:
    url('/fonts/woff2/RobotoCondensed-ExtraBold.woff2') format('woff2'),
    url('/fonts/ttf/RobotoCondensed-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* Roboto Condensed ExtraBold Italic */
@font-face {
  font-family: 'Roboto Condensed';
  src:
    url('/fonts/woff2/RobotoCondensed-ExtraBoldItalic.woff2') format('woff2'),
    url('/fonts/ttf/RobotoCondensed-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

/* Roboto Condensed Black */
@font-face {
  font-family: 'Roboto Condensed';
  src:
    url('/fonts/woff2/RobotoCondensed-Black.woff2') format('woff2'),
    url('/fonts/ttf/RobotoCondensed-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Roboto Condensed Black Italic */
@font-face {
  font-family: 'Roboto Condensed';
  src:
    url('/fonts/woff2/RobotoCondensed-BlackItalic.woff2') format('woff2'),
    url('/fonts/ttf/RobotoCondensed-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

/* Righteous Regular */
@font-face {
  font-family: 'Righteous';
  src:
    url('/fonts/woff2/Righteous-Regular.woff2') format('woff2'),
    url('/fonts/ttf/Righteous-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
